body{
    background: #202020;
    color: white;
}

.table th {
    background-color: #191824;
    text-align: center;
}

.text-center {
    text-align: center; /* Centra el texto */
}


.full-height {
    height: 100vh;
}

#VentanaBuscar {
    display: none;
}

#abmClientes {
    display: none;
}
#ventanaCanje {
    display: none;  /* oculto la ventana por defecto */
}

#ventanaPremios {
    display: none;
}
#ventanaPublicidad{
    display:none;
}
#selectorPremios{
    display: none;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjetaPremios .card {
    width: 18rem;
    /* Fija el ancho de la tarjeta */
    height: 25rem;
    /* Fija la altura de la tarjeta */
    margin: .5rem;
    
}

.card-body {
    overflow-y: auto; 
    /* Permite el desplazamiento si el contenido es demasiado largo */
}

.card-img-top {
    display: inline-block;
    height: 150px;
    /* Fija la altura de la imagen */
    width: 150px;
    /* object-fit: cover; */
    /* Ajusta la imagen para que se ajuste al contenedor */
}
.card-imagen {
    text-align: center;
}
.modal-lg {
    max-width: 80%;
    /* Fija el tamaño máximo de la ventana modal */
}

.modal-content {
    max-height: 90vh;
    /* Fija la altura máxima del contenido de la ventana modal */
    overflow-y: auto;
    /* Permite el desplazamiento en la ventana modal */
}